{% extends "layout.html" %}

{% block title %}
    Loca.ly
{% endblock %}

{% block content %}

<h4>Enter your username and submit to start chatting!</h4>
<form action="/signin" method="POST">
    <div class="form-group">
        <input type="text" class="form-control" id="username" name="username" autofocus aria-describedby="userHelp">
        <small id="userHelp" class="form-text text-muted">This username will be used to identify you on this site.</small>
    </div>
    <button class="btn btn-primary" type="submit">Sign In</button>
</form>

<!--    <script type="text/javascript">
        if (localStorage.getItem('username'))
            window.location = "/";
        // Load value submitted on form
        document.addEventListener('submit', () => {
            let username = document.querySelector('#username').value
            // Save username on localstorage
            localStorage.setItem('username', username);
        });
    </script>
-->

{% endblock %}
